{
  "overrides": [
    {
      "files": ["*.ts", "*.js", "*.html", "*.json", "*.scss"],
      "options": {
        "useTabs": false,
        "jsxSingleQuote": true,
        "singleQuote": true,
        "tabWidth": 4,
        "printWidth": 155
      }
    }
  ]
}
